<?xml version="1.0" encoding="UTF-8"?>
<mets xmlns="http://www.loc.gov/METS/" xmlns:xlink="http://www.w3.org/1999/xlink"
      OBJID="info:fcla/daitss/<%= @dip.ieid %>">

  <metsHdr CREATEDATE="<%= @dip.create_date.xmlschema %>">
    <agent ROLE="DISSEMINATOR" TYPE="ORGANIZATION">
      <name>FCLA</name>
      <note>tipr-1.0.0</note>
    </agent>
  </metsHdr>
  
  <amdSec>
    <rightsMD ID="rights-metadata-0">
      <mdRef LOCTYPE="URL" MDTYPE="PREMIS" xlink:href="tipr-rights.xml"/>
    </rightsMD>
    <digiprovMD ID="digiprov-metadata-0">
      <mdRef LOCTYPE="URL" MDTYPE="PREMIS" xlink:href="tipr-digiprov.xml"/>
    </digiprovMD>
  </amdSec>

  <fileSec>
    <fileGrp>
<%# At most we can have two representations. %>
      <file ID="file-0" CHECKSUM="<%= @orig[:sha_1] %>" CHECKSUMTYPE="SHA-1">
        <FLocat LOCTYPE="URL" xlink:href="tipr-rep-1.xml"/>
      </file>
<% if @dip.migration_map %>
      <file ID="file-1" CHECKSUM="<%= @active[:sha_1] %>" CHECKSUMTYPE="SHA-1">
        <FLocat LOCTYPE="URL" xlink:href="tipr-rep-2.xml"/>
      </file>
<% end %>
    </fileGrp>  
    <fileGrp USE='METADATA'>
<%# For the time being, our rights and digiprov MD checksums are hard-coded %>
      <file ID="TIPR-RMD" CHECKSUM="da39a3ee5e6b4b0d3255bfef95601890afd80709" CHECKSUMTYPE="SHA-1">
        <FLocat LOCTYPE="URL" xlink:href="tipr-rights.xml"/>
      </file>
      <file ID="TIPR-DPMD" CHECKSUM="da39a3ee5e6b4b0d3255bfef95601890afd80709" CHECKSUMTYPE="SHA-1">
        <FLocat LOCTYPE="URL" xlink:href="tipr-digiprov.xml"/>
      </file>
    </fileGrp>
  </fileSec>

  <structMap>
    <div>
<%# Original should be active if we haven't migrated. %>
      <div <% if not @dip.migration_map %> TYPE="ACTIVE" <% end %> ORDER="1">
        <fptr FILEID="file-0"/>
      </div>
<% if @dip.migration_map %>
      <div TYPE="ACTIVE" ORDER="2">
        <fptr FILEID="file-1"/>
      </div>
<% end %>
    </div>
  </structMap>
  
</mets>
